:root {
  --body-bg-color: #2e6fd1;
  --header-bg-color: #15448b;
  --task-bg-color: #00008b;
  --font-color: white;
  --input-font-color: black;
  --task-done-bg-color: #3fa14c;
  --bg-texture: url("https://www.transparenttextures.com/patterns/cubes.png");
  --page-bg-color: lightblue;
  background-color: var(--page-bg-color);
}

.hm {
  background-color: var(--page-bg-color) !important;
}
